<!DOCTYPE html>
<html>
<head>
    <title><%=head %></title>
    <link rel='stylesheet' href='https://www.appinessworld.com/css/master.css'/>
    <link rel='stylesheet' href='https://www.appinessworld.com/fonts/bellmt/stylesheet.css'/>
</head>
<body>
<div  class="main-container blog-main"><%- my_form_content %></div>
</body>
</html>
users